@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 33 33% 92%;
		--background-hover: 30 20% 90%;
		--foreground: 20 6% 15%;
		--card: 0 0% 100%;
		--card-foreground: 20 6% 15%;
		--text-primary: 20 6% 15%;
		--text-secondary: 30 9% 39%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 6% 15%;
		--primary: 27 16% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 197 15% 39%;
		--secondary-background: 197 50% 90%;
		--secondary-foreground: 0 0% 100%;
		--edit: 207, 35%, 52%;
		--muted: 42 12% 83%;
		--muted-focus: 35 15% 65%;
		--muted-foreground: 30 9% 39%;
		--accent: 8 61% 55%;
		--accent-foreground: 0 0% 100%;
		--action: 15 55.6% 52.4%;
		--action-focus: 15 65% 47%;
		--destructive: 0 70% 60%;
		--destructive-focus: 0 70% 40%;
		--destructive-background: 0 70% 90%;
		--destructive-foreground: 0 0% 100%;
		--paid: 128, 70%, 40%;
		--paid-background: 128 70% 90%;
		--partial: 39, 90%, 50%;
		--partial-background: 39 90% 90%;
		--overpayment: 45 100% 85%;
		--border: 30 15% 85%;
		--input: 30 15% 85%;
		--ring: 27 16% 53%;
		--radius: 0.5rem;
		--chart-1: 27 16% 53%;
		--chart-2: 197 15% 39%;
		--chart-3: 8 61% 55%;
		--chart-4: 128 21% 45%;
		--chart-5: 39 55% 59%;
		--sidebar-background: 30 15% 95%;
		--sidebar-foreground: 20 6% 15%;
		--sidebar-primary: 27 16% 53%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 8 61% 55%;
		--sidebar-accent-foreground: 0 0% 100%;
		--sidebar-border: 30 15% 85%;
		--sidebar-ring: 27 16% 53%;
	}
	/* .dark {
		--background: 27 22% 12%;
		--foreground: 33 33% 92%;
		--card: 27 20% 18%;
		--card-foreground: 33 33% 92%;
		--popover: 27 20% 18%;
		--popover-foreground: 33 33% 92%;
		--primary: 27 22% 47%;
		--primary-foreground: 0 0% 100%;
		--secondary: 197 18% 40%;
		--secondary-foreground: 0 0% 100%;
		--muted: 27 15% 25%;
		--muted-foreground: 30 9% 75%;
		--accent: 8 52% 46%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 67% 50%;
		--destructive-foreground: 0 0% 100%;
		--border: 27 15% 22%;
		--input: 27 15% 22%;
		--ring: 27 22% 47%;
		--sidebar-background: 27 25% 15%;
		--sidebar-foreground: 33 33% 92%;
		--sidebar-primary: 27 22% 47%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 8 52% 46%;
		--sidebar-accent-foreground: 0 0% 100%;
		--sidebar-border: 27 15% 22%;
		--sidebar-ring: 27 22% 47%;
	} */
}
@layer base {
	*:not(svg):not(svg *) {
		@apply border-border;
		@apply text-textPrimary;
	}

	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}

	[class*='toast'],
	[class*='toast'] * {
		color: inherit;
	}
}

:root {
	--radius: 8px;
	--scn-muted-foreground: 240 3.8% 46.1%;
}
